main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    background-image: url(img/galaxie.jpg);
    background-size: cover;
    background-attachment: fixed;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: clamp(25svw,50svw,80svw);
    background-color: white;
    margin: 5svh 0;
    padding: 20px;
    border-radius: 10px;
    
}

form h3 {
    border-bottom: 2px solid var(--new_color_orange);
    text-align: center;
    text-decoration: none
}

form p {
    text-decoration: underline var(--new_color_orange);
    text-underline-offset: 10px;
}

form #div_form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%
}

form .form-group {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin: 2svh 0
}

form button {
    color: white;
    background-color: black;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer
}

@media (pointer: fine) {
    form button:hover {
        color:black;
        background-color: transparent;
        border: 3px solid #E02626;
    }
}

form label {
    width: 100%;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
}

form button,form input,form textarea {
    margin-top: .5rem;
    color: white;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    border-radius: 5px;
}

form input {
    width: 100%;
    height: 30px
}

form textarea {
    width: 100%!important;
    min-height: 100px;
    resize: none
}

@media screen and (max-width: 1024px) {
    form {
        width:clamp(25svw,70svw,80svw)
    }
}
