html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

h1 {
    color: white;
    font-size: 64px;
    margin-bottom: 20px;
}

header {
    padding: 20px 50px;
    background-color: black;
    width: calc(100% - 100px);
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 10px;
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav img {
    width: 45px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

button {
    font-size: 21px;
    border-width: 0;
    background-color: #E02626;
    color: white;
    padding: 15px 30px;
    margin: 20px 0;
    border-radius: 5px;
}

/* Footer */

hr {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 25px;
    color: lightgray;
}

footer {
    background-color: black;
    color: white;
    height: auto;
    padding: 25px 0;
}


footer img {
    display: block;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    text-decoration: none;
    color: lightgray;
    font-size: 20px;
    margin-right: 30px;
}

.footer-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    margin-left: 20px;
}