/* Section banner */

.banner {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
                      url(img/bannerspace.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.banner-content {
    margin-left: 80px;
}

.banner h1 {
    color: white;
    font-size: 64px;
    margin-bottom: 20px;
}

.banner p {
    color: white;
    font-size: 21px;
}

/* Section Actualités */

.actualites {
    background-color: white;
}

/* Section A propos */

.a-propos {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
                      url(img/earthsurface.jpg);
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 550px;
}

.a-propos h2 {
    color: white;
}

.a-propos-content {
    margin-left: 12%;
}

/* Section Image du jour */

.image-jour {
    padding: 60px 0;
    display: flex;
    justify-content: space-between
}

.image-jour img {
    width: 700px;
    margin-left: 12%;
    object-fit: cover;
}

.image-jour-content {
    text-align: end;
    margin-right: 12%;
}

.image-jour-content button {
    margin: 40px 0;
}