body {
    background-color: black;
}

/***Header***/

header {
    padding: 10px;
    margin: 0 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav img {
    width: 45px;
    object-position: center;
}

.menu img {
    padding-left: 30px;
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Section banner */

.banner {
    background-image: url(img/bannerspace.jpg);
    background-size: cover;
    height: 500px;
}